//
// license-start
// 
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.
// 
// Copyright (c) 2021 INPS - Istituto Nazionale di Previdenza Sociale
//


//- This Source Code Form is subject to the terms of the Mozilla Public
//- License, v. 2.0. If a copy of the MPL was not distributed with this
//- file, You can obtain one at http://mozilla.org/MPL/2.0/.
//-
//- Copyright (c) 2021-present Kaleidos Ventures SL

doctype html

section.help-main
    header
        tg-svg(svg-icon="icon-question")
        h1 
            span {{'HELP.TITLE' | translate}}
        p {{'HELP.SUBTITLE' | translate}}

    .help-index
        ul 
            li 
                a(href="#1" translate="HELP.QUESTIONS.1") 
            li 
                a(href="#2" translate="HELP.QUESTIONS.2") 
            li 
                a(href="#3" translate="HELP.QUESTIONS.3") 
            li 
                a(href="#4" translate="HELP.QUESTIONS.4") 
            li 
                a(href="#5" translate="HELP.QUESTIONS.5") 
            li 
                a(href="#6" translate="HELP.QUESTIONS.6") 
            li 
                a(href="#7" translate="HELP.QUESTIONS.7") 

    .help-topics
        h3(id="1" translate="HELP.QUESTIONS.1")
        p(
            translate="HELP.ANSWERS.1",
            translate-values="{ screenshot_1_src: '/#{v}/images/help-screenshots/' + lang + '/screen1_1.jpg', screenshot_2_src: '/#{v}/images/help-screenshots/' + lang + '/screen1_2.jpg', screenshot_3_src: '/#{v}/images/help-screenshots/' + lang + '/screen1_3.jpg', screenshot_4_src: '/#{v}/images/help-screenshots/' + lang + '/screen1_4.jpg', screenshot_5_src: '/#{v}/images/help-screenshots/' + lang + '/screen1_5.jpg'}"
            translate-interpolation="messageformat"
        )

        h3(id="2" translate="HELP.QUESTIONS.2")
        p(
            translate="HELP.ANSWERS.2",
            translate-values="{ screenshot_1_src: '/#{v}/images/help-screenshots/' + lang + '/screen2_1.jpg'}"
            translate-interpolation="messageformat"
        )

        h3(id="3" translate="HELP.QUESTIONS.3")
        p(
            translate="HELP.ANSWERS.3",
        )

        h3(id="4" translate="HELP.QUESTIONS.4")
        p(
            translate="HELP.ANSWERS.4",
            translate-values="{ screenshot_1_src: '/#{v}/images/help-screenshots/' + lang + '/screen4_1.jpg', screenshot_2_src: '/#{v}/images/help-screenshots/' + lang + '/screen4_2.jpg', screenshot_3_src: '/#{v}/images/help-screenshots/' + lang + '/screen4_3.jpg'}"
            translate-interpolation="messageformat"
        )

        h3(id="5" translate="HELP.QUESTIONS.5")
        p(
            translate="HELP.ANSWERS.5",
            translate-values="{ screenshot_1_src: '/#{v}/images/help-screenshots/' + lang + '/screen5_1.jpg'}"
            translate-interpolation="messageformat"
        )

        h3(id="6" translate="HELP.QUESTIONS.6")
        p(
            translate="HELP.ANSWERS.6",
            translate-values="{ screenshot_1_src: '/#{v}/images/help-screenshots/' + lang + '/screen6_1.jpg', screenshot_2_src: '/#{v}/images/help-screenshots/' + lang + '/screen6_2.jpg'}"
            translate-interpolation="messageformat"
        )

        h3(id="7" translate="HELP.QUESTIONS.7")
        p(
            translate="HELP.ANSWERS.7",
        )