//
// license-start
// 
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.
// 
// Copyright (c) 2021 INPS - Istituto Nazionale di Previdenza Sociale
//

doctype html

div.error-main
    
    div.logo-container
        img.logo-svg(src="#{v}/svg/logo-color.svg", alt="INPS", width="143px")
    
    div.error-container
        h1.logo(translate="ERROR.UNAUTHORIZED")
        p(translate="ERROR.UNAUTHORIZED_TEXT")
        a.italia-it-button.italia-it-button-size-m.button-spid(
            href="#"
            ng-click="vm.toLoginSpidUrl()"
            title="{{'LOGIN_COMMON.ACTION_SIGN_IN' | translate}}"
        )
            span.italia-it-button-icon
                img(
                    src="/#{v}/images/spid-button/spid-ico-circle-bb.svg"
                    onerror="this.src='/#{v}/images/spid-button/spid-ico-circle-bb.png'; this.onerror=null;"
                    alt=""
                )
            span.italia-it-button-text
                |{{'LOGIN_COMMON.ACTION_SIGN_IN' | translate}}
